div.appcontainer { 
	clear:both !important;
	font-family:Arial !important;
	border:1px solid #e5e5e5;
	background-color:#f9f9f9 !important;
	width:auto !important;
	color:#545450 !important;
	margin:18px 0; 
}

div.appcontainer ul.error { 
	padding:10px !important;
	list-style-type:none !important;
	list-style-position:inside !important;
	font-size:.9em !important; 
}

div.appcontainer ul.error li { 
	list-style-position:inside !important; 
}

div.appcontainer a:link { 
	color:#545450 !important; 
}

div.banner { 
	padding:10px !important; 
}

div.simple { 
	height:86px !important; 
}

div.appcontainer div.appscreenshots { 
	width:auto !important;
	margin:0 auto !important;
	padding:10px !important; 
}

div.appcontainer div.appscreenshots div.slider { 
	overflow-x:scroll !important;
	overflow-y:hidden !important;
	height:300px !important;
	margin-top:10px !important; 
}

div.appcontainer div.appscreenshots div.slider ul { 
	padding:0 !important;
	margin:0 !important;
	list-style-image:none !important;
	white-space:nowrap !important; 
}

div.appcontainer div.appscreenshots div.slider ul li { 
	padding:0 !important;
	margin:0 !important;
	margin-right:6px !important;
	list-style-type:none !important;
	display:inline !important; 
}

div.appcontainer div.appscreenshots div.slider ul li:last-child { 
	margin-right:0 !important; 
}

div.appcontainer div.appscreenshots div.slider ul li img { 
	height:300px !important;
	display:inline !important; 
}

div.appcontainer img.appbanner { 
	width:100% !important;
	margin:0 !important;
	border:1px solid #e5e5e5 !important; 
}

div.appcontainer img.appicon { 
	width:64px !important;
	height:64px !important;
	float:left !important;
	margin-right:12px !important;
	margin:10px !important;
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important; 
}

div.appcontainer table.appdetails,div.appcontainer div.appdetails { 
	font-size:.9em !important;
	line-height:1.5em !important; 
}

div.appcontainer table.appdetails { 
	line-height:1.5em !important;
	clear:all !important;
	width:100% !important;
	margin-top:8px !important; 
}

div.appcontainer div.appdetails { 
	margin:10px !important; 
}

div.appcontainer div.appdetails span.fallback { 
	font-style:italic;
	font-size:.75em; 
}

div.appcontainer table.appdetails td { 
	vertical-align:middle !important; 
}

div.appcontainer table.appdetails td.appbutton { 
	width:200px !important;
	text-align:right !important; 
}

div.appcontainer a.appbutton { 
	height:42px !important;
	float:right !important;
	margin:10px !important; 
}

div.appcontainer a.appstore,
div.appcontainer table.appdetails td.appstore a { 
	background:#FFF url('../img/appstore.png') no-repeat center center !important; 
}

div.appcontainer a.macappstore,
div.appcontainer table.appdetails td.macappstore a { 
	background:#FFF url('../img/macappstore.png') no-repeat center center !important; 
}

div.appcontainer a.googleplay,
div.appcontainer table.appdetails td.googleplay a { 
	background:#FFF url('../img/googleplay.png') no-repeat center center !important; 
}

div.appcontainer a.androidpit,
div.appcontainer table.appdetails td.androidpit a { 
	background:#FFF url('../img/androidpit.png') no-repeat center center !important; 
}

div.appcontainer a.blackberryworld,
div.appcontainer table.appdetails td.blackberryworld a { 
	background:#FFF url('../img/blackberryworld.png') no-repeat center center !important; 
}

div.appcontainer a.windowsstore,
div.appcontainer table.appdetails td.windowsstore a { 
	background:#FFF url('../img/windowsstore.png') no-repeat center center !important; 
}

div.appcontainer a.windowsphonestore,
div.appcontainer table.appdetails td.windowsphonestore a { 
	background:#FFF url('../img/windowsphonestore.png') no-repeat center center !important; 
}

div.appcontainer a.firefoxmarketplace,
div.appcontainer table.appdetails td.firefoxmarketplace a { 
	background:#FFF url('../img/firefoxmarketplace.png') no-repeat center center !important; 
}

div.appcontainer a.chromewebstore,
div.appcontainer table.appdetails td.chromewebstore a { 
	background:#FFF url('../img/chromewebstore.png') no-repeat center center !important; 
}

div.appcontainer a.firefoxaddon,
div.appcontainer table.appdetails td.firefoxaddon a { 
	background:#FFF url('../img/firefoxaddon.png') no-repeat center center !important; 
}

div.appcontainer a.appbutton,div.appcontainer table.appdetails td.appbutton a { 
	display:inline-block !important;
	border:1px solid #e5e5e5 !important;
	padding:10px 15px !important;
	font-size:.9em !important;
	font-weight:bold !important;
	line-height:1.4em !important;
	text-align:center !important;
	border-radius:5px !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important; 
}

div.appcontainer .qrcode:hover img { 
	position:absolute;
	width:200px !important;
	height:200px !important;
	z-index:9999 !important;
	margin-top:-57px !important;
	margin-left:-57px !important;
	border:3px solid black !important;
	cursor:none !important; 
}

div.appcontainer div.qrcode-banner { 
	width:80px !important;
	height:80px !important;
	border:1px solid #e5e5e5 !important;
	z-index:9999 !important;
	position:absolute !important;
	bottom:0 !important;
	right:0 !important;
	margin-bottom:4px !important;
	margin-right:-2px !important; 
}

div.appcontainer div.qrcode-banner img { 
	width:80px !important;
	height:80px !important; 
}

div.appcontainer div.qrcode-boxed { 
	height:86px !important;
	width:86px !important;
	float:right !important;
	margin-left:20px !important; 
}

div.appcontainer div.qrcode-boxed img { 
	height:86px !important; 
}

div.appcontainer .apptitle { 
	font-size:1.2em !important;
	font-weight:bold !important; 
}

div.appcontainer a.appbutton:link,
div.appcontainer a.appbutton:visited,
div.appcontainer table.appdetails td.appbutton a:link,
div.appcontainer table.appdetails td.appbutton a:visited,
div.appcontainer .apptile:link,
div.appcontainer .apptitle:visited,
div.appcontainer .appauthor:link,
div.appcontainer .appauthor:visited { 
	color:#545450 !important; 
}

div.appcontainer a.appbutton:hover,
div.appcontainer table.appdetails td.appbutton a:hover,
div.appcontainer .apptile:hover,
div.appcontainer .appauthor:hover { 
	text-decoration:none !important;
	color:#5588b5 !important;
}

@media screen and (max-width:600px) { 
	div.appcontainer .qrcode { 
		display:none !important
	}
}

@media screen and (max-width:400px) { 
	div.appcontainer a.appbutton,
	div.appcontainer table.appdetails td.appbutton { 
		display:none !important; 
	}
	div.appstore a.apptitle:after { 
		content:url('../img/appstore-small.png') !important;
		margin-left:8px !important; 
	}
	div.macappstore a.apptitle:after { 
		content:url('../img/macappstore-small.png') !important;
		margin-left:8px !important; 
	}
	div.googleplay a.apptitle:after { 
		content:url('../img/googleplay-small.png') !important;
		margin-left:8px !important; 
	}
	div.androidpit a.apptitle:after { 
		content:url('../img/androidpit-small.png') !important;
		margin-left:8px !important; 
	}
	div.blackberryworld a.apptitle:after { 
		content:url('../img/blackberryworld-small.png') !important;
		margin-left:8px !important; 
	}
	div.windowsstore a.apptitle:after { 
		content:url('../img/windowsstore-small.png') !important;
		margin-left:8px !important; 
	}
	div.windowsphonestore a.apptitle:after { 
		content:url('../img/windowsphonestore-small.png') !important;
		margin-left:8px !important; 
	}
	div.firefoxmarketplace a.apptitle:after { 
		content:url('../img/firefoxmarketplace-small.png') !important;
		margin-left:8px !important; 
	}
	div.chromewebstore a.apptitle:after { 
		content:url('../img/chromewebstore-small.png') !important;
		margin-left:8px !important; 
	}
	div.firefoxaddon a.apptitle:after { 
		content:url('../img/firefoxaddon-small.png') !important;
		margin-left:8px !important; 
	}
; }